[Unit]
Description=Crimson Website
Requires=crimson-server.service
After=crimson-server.service

[Service]
User=root
Group=dev-grp0
WorkingDirectory=/usr/lib/node_modules/crimson_server
ExecStart=/usr/bin/node server.js
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
