[Unit]
Description=Crimson log service
Before=getty@tty1.service
After=dev-tty1.device

[Service]
ExecStart=/etc/init.d/logging
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
