[Unit]
Description=Cyan log service
Before=getty@tty1.service
After=dev-tty1.device

[Service]
User=root
Group=dev-grp0
ExecStart=/etc/cyan/sensors
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
