[Unit]
Description=Chestnut Server
Requires=network-online.target post.service
After=network-online.target post.service

[Service]
User=root
Group=dev-grp0
ExecStart=/usr/bin/server -d
Type=notify
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
