[Unit]
Description=Crimson Networking
Before=getty@tty1.service crimson-server.service
After=dev-tty1.device

[Service]
ExecStartPre=/etc/init.d/networking start
ExecStart=/etc/init.d/networking check
ExecReload=/etc/init.d/networking restart
ExecStop=/etc/init.d/networking stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
