SUBSYSTEM=="tty", KERNELS=="1-1.1:1.0", ATTRS{bInterfaceNumber}=="00", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycyan-rx", GROUP="dev-grp0"
SUBSYSTEM=="tty", KERNELS=="1-1.1:1.1", ATTRS{bInterfaceNumber}=="01", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycyan-tx", GROUP="dev-grp0"
SUBSYSTEM=="tty", KERNELS=="1-1.1:1.2", ATTRS{bInterfaceNumber}=="02", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycyan-time", GROUP="dev-grp0"
