# Cyan device mapping rules.
#
# The following rules ensure persistent and correct mapping between
# the SPI bus Chip Select ports, corresponding to a particular
# MAX14830 device, and specific UART ports, to backplane slots.
# RFE (Radio Front End) slot follows interconnect naming convention.
#
# To modify this mapping, use the following command to identiy
# uniquely identify a specific component by uniquely specifying
# device properties:
# 
# udevadm info -a -p $(udevadm info -q path -n /dev/sdd1)
#
# Radio Front End Slots
#Max IC 0
SUBSYSTEM=="tty", ATTR{port}=="0x0",  KERNELS=="spi0.0", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-0", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x20", KERNELS=="spi0.0", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-1", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x40", KERNELS=="spi0.0", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-2", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x60", KERNELS=="spi0.0", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-3", GROUP="dev-grp0"
#Max IC 1                                                                              
SUBSYSTEM=="tty", ATTR{port}=="0x0",  KERNELS=="spi0.1", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-4", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x20", KERNELS=="spi0.1", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-5", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x40", KERNELS=="spi0.1", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-6", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x60", KERNELS=="spi0.1", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-7", GROUP="dev-grp0"
#Max IC 2
SUBSYSTEM=="tty", ATTR{port}=="0x0",  KERNELS=="spi0.2", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-8", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x20", KERNELS=="spi0.2", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-9", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x40", KERNELS=="spi0.2", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-10", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x60", KERNELS=="spi0.2", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-11", GROUP="dev-grp0"
#Max IC 3
SUBSYSTEM=="tty", ATTR{port}=="0x0",  KERNELS=="spi0.3", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-12", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x20", KERNELS=="spi0.3", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-13", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x40", KERNELS=="spi0.3", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-14", GROUP="dev-grp0"
SUBSYSTEM=="tty", ATTR{port}=="0x60", KERNELS=="spi0.3", DRIVERS=="max310x", SYMLINK+="ttycyan-rfe-15", GROUP="dev-grp0"

# Time Board UART
SUBSYSTEM=="tty", ATTR{iomem_base}=="0x80008000", ATTR{port}=="0x0", KERNELS=="80008000.serial2", DRIVERS=="altera_uart", SYMLINK+="ttycyan-time", GROUP="dev-grp0"
