SUBSYSTEM=="tty", KERNELS=="1-1.1:1.0", ATTRS{bInterfaceNumber}=="00", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycrimson-rx"
SUBSYSTEM=="tty", KERNELS=="1-1.1:1.1", ATTRS{bInterfaceNumber}=="01", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycrimson-tx"
SUBSYSTEM=="tty", KERNELS=="1-1.1:1.2", ATTRS{bInterfaceNumber}=="02", ATTRS{interface}=="Quad RS232-HS", SYMLINK+="ttycrimson-time"
