[Unit]
Description=Crimson Website
Requires=crimson-server.service
After=crimson-server.service

[Service]
WorkingDirectory=/home/root/pv_web
ExecStart=/usr/bin/node server.js
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
