[Unit]
Description=Crimson startup service
Before=getty@tty1.service
After=dev-tty1.device

[Service]
User=root
Group=root
ExecStart=/etc/crimson/startup
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
