[Unit]
Description=Crimson log service
Before=getty@tty1.service
After=dev-tty1.device

[Service]
User=root
Group=root
ExecStart=/etc/crimson/logging
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
