[Unit]
Description=Cyan Server
Requires=network-online.target cyan-uart-debugger.service cyan-post.service
Before=cyan-website.service cyan-website-hdr.service
After=network-online.target cyan-uart-debugger.service cyan-post.service

[Service]
User=root
Group=dev-grp0
ExecStart=/usr/bin/server -d
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
